body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    
}
header{
    background-color: rgba(255, 166, 0, 0.678);
    display: flex;
    align-items:center;
    justify-content: center;
    color: rgb(252, 252, 252);
    margin: 3px;
}
#greeting{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
}
.hi{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
}
.about { 
    font-size: 14px;
    margin: 2px;
    margin-bottom: 5px;
}
#option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-weight: 540;
    margin-bottom: 2px;
    color: rgb(204, 156, 0);
    background-color: whitesmoke;
    border: none;
}
#option:hover{
    background-color: rgba(219, 181, 111, 0.726);
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
label {
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}

#optionpersegi{
    justify-content: center;
    text-align: center;
    border: 2px solid rgba(255, 166, 0, 0.678);
}
h3{
    background-color: rgba(255, 166, 0, 0.678);
    padding: 10px;
    margin-top: 0%;
    font-size: 30px;
}
.left{
    text-align: left;
    margin-left: 4px;
}
.rumuspersegi{
    font-weight: bold;
    font-size: 20px;  
    background-color: rgba(255, 166, 0, 0.678); 
    border: 2px solid black;
    margin: auto;
    width: fit-content;
    padding: 2px;
}
#inputluassection{
    display: flex;
    flex-direction: column;
}
#optionpersegipanjang{
    justify-content: center;
    text-align: center;
    border: 2px solid rgba(255, 166, 0, 0.678);
}
.rumuspersegipanjang{
    font-weight: bold;
    font-size: 20px;  
    background-color: rgba(255, 166, 0, 0.678); 
    border: 2px solid black;
    margin: auto;
    width: fit-content;
    padding: 2px;
}
#inputluassectioN{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#submitsecstion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 15px;    
}
.hitung{color: rgb(204, 156, 0);
    background-color: whitesmoke;
    border: none;}
.hitung:hover{
        background-color: rgba(219, 181, 111, 0.726);
        color: white;
        border-radius: 5px;
        font-weight: 800;
}
.reset{color: rgb(250, 249, 245);
    background-color: rgb(134, 143, 13);
    border: none;}
.reset:hover{
        color: white;
        border-radius: 5px;
        font-weight: 800;
    }
input:active{
    transform:translateY(2px);
}
input{
    margin-bottom: 5px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;  
}
#hasilpersegi{
    align-items: left;
    text-align: left;
    justify-content: center;
}
#hasilpersegipanjang{
    align-items: left;
    text-align: left;
    justify-content: center;
}